.fixture {
  padding-left: 3.5em;
  line-height: 1.25;
  margin-bottom: 1.35em;
  color: var(--color-black);
}

.fixture.completed {
  opacity: 0.5;
}

.winner {
  font-weight: bold;
}

.subject {
  font-size: 1.1em;
  font-style: italic;
}

.info {
  font-size: 0.8em;
  margin-top: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.competition {
  font-style: normal;
}

.location {
  color: var(--color-grey);
  border-left: 1px solid #e6e6e6;
  padding-left: 0.75em;
  margin: 0.4em;
}
