# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules
yarn-error.log
package-lock.json

# Build directories
/public
/lambda

/tmp

coverage

.env.*
!.env.example

.DS_Store