.root {
  margin: 1em 0 2em;
  padding-top: 1.5em;
}

.title {
  padding-bottom: 0.45em;
  margin-bottom: 0.15em;
  font-weight: bold;
  font-size: 1.25em;
  border-bottom: 1px dashed var(--color-complimentary);
  color: var(--color-base-dark);
}

.highlight  {
  font-weight: bold;
  background: red !important;
}

.teamCell {
  text-align: left !important;
  word-break: break-word;
}

.hideMedium {
  @media (min-width: 768px) and (max-width: 1023px) {
    display: none !important;
  }
}

.hideSmall {
  @media (max-width: 767px) {
    display: none !important;
  }
}
