:root {
  --color-body-bg: #f7f4e8;
  --color-white: #fffffe;
  --color-black: #453b3b;
  --color-grey: #757472;

  --color-base-dark: #d3202d;
  --color-base-light: #e1837a;
  --color-complimentary: #e6e6e6;
}
