@import '../../assets/scss/colors';
@import '../../assets/scss/mediaQueries';
@import '../../assets/scss/backgrounds';

.root {
  position: relative;
  font-size: 0.8em;
  margin: 1em 2em 3em 1em;
  padding: 2em 2em 1em;
  background: $color-white;

  &:before {
    content: '';
    @extend .bg-striped-red;
    top: 1.5em;
    left: 1.25em;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &:after {
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    content: '';
    border: 1px solid $color-base-light;
    z-index: -1;
  }

  @media #{$mobile} {
    font-size: 0.75em;
    margin: 0;
    margin-bottom: 2em;
    padding: 1em;
    &:before {
      content: none;
    }
    &:after {
      border-width: 0 0 1px 0;
    }
  }
}
