@import '../../assets/scss/colors';
@import '../../assets/scss/mediaQueries';

.root {
  position: relative;
  font-size: 0.8em;
  margin: 1em 2em 3em 1em;
  box-shadow: 1.25em 1.5em $color-base-dark;
  padding: 1em;
  background: $color-white;

  &:before {
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    content: "";
    border: 1px solid $color-base-light;
    z-index: -1;
  }

  @media #{$mobile} {
    font-size: 0.75em;
    margin: 0;
    margin-bottom: 2em;
    box-shadow: none;
    &:before {
      border-width: 0 0 1px 0;
    }
  }

  h2 {
    color: $color-base-dark;
  }
}
