.root {
  column-count: 2;
  column-gap: 1em;
}

.root > div {
  break-inside: avoid;
}

@-moz-document url-prefix() {
  .root > div {
    display: inline-block;
  }
}

@media (max-width: 1023px) {
  .root {
    column-count: 1;
  }
}
