@import '../../../node_modules/normalize.css';
@import '../../assets/scss/colors';
@import '../../assets/scss/mediaQueries';

html {
  background: $color-body-bg;
  padding-top: 4em;
}

h1,
h2,
h3,
h4 {
  color: $color-base-dark;
}

h1,
h2 {
  // text-decoration: underline;
  // text-underline-position: below;
}

.hideMedium {
  @media #{$tablet} {
    display: none !important;
  }
}

.hideSmall {
  @media #{$mobile} {
    display: none !important;
  }
}

::selection {
  color: $color-white;
  background: $color-base-dark;
}
