.root {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
  height: 3.5em;
  margin: 0 -1em;
  background: var(--color-white);
  width: calc(100% + 1em);
  border-bottom: 1px solid var(--color-base-light);
  box-shadow: 0 6px 10px 0 transparentize(var(--color-black), 0.85);
  z-index: 100;
}

@media (max-width: 767px) {
  .root {
    font-size: 0.75em;
  }
}

.siteName {
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
}

@media (max-width: 767px) {
  .siteName {
    display: none;
  }
}

.root a {
  margin: 0 0.5em;
  font-size: 0.8em;
}

@media (max-width: 767px) {
  .root a {
    font-size: 1em;
  }
}

.root > span {
  flex: 1;
  display: flex;
  align-items: center;
}

.root > span:last-child {
  text-align: right;
  justify-content: flex-end;
}

@media (min-width: 1024px) {
  .root > span.anchorLinks {
    display: none;
  }
}
